<my-split-card>
    <card-title>
        <!--5. Restocking Fee: {{restockingFee | myMoney}}-->
    </card-title>
    <card-content>
        <p>Reason for waiving fee</p>
        <div class="row">
            <div class="col-xs-8">
                <!--<my-select [formControl]="carrierForm.controls['carrier']" [control]="carrierForm.controls['carrier']"-->
                           <!--[name]="'carrier'" [items]="carriers" [(value)]="selectedPlanOption.cartItemPhoneNumber.carrierPortingFrom"-->
                           <!--[label]="'Current Carrier'" ngDefaultControl></my-select>-->
            </div>
        </div>
    </card-content>
</my-split-card>
