<app-card>
  <svg width="250" height="150">
    <circle r="6" cx="51" cy="100" fill="#dcdada"></circle>
    <circle r="6" cx="56" cy="71" fill="#dcdada"></circle>
    <circle r="6" cx="72" cy="46" fill="#dcdada"></circle>
    <circle r="6" cx="97" cy="30" fill="#dcdada"></circle>
    <circle r="6" cx="125" cy="25" fill="#dcdada"></circle>
    <g><text x="110" y="100">&#xf236;</text> </g>
    <circle r="6" cx="154" cy="30" fill="#dcdada"></circle>
    <circle r="3" cx="179" cy="46" fill="#dcdada"></circle>
    <circle r="3" cx="195" cy="71" fill="#dcdada"></circle>
    <circle r="3" cx="201" cy="100" fill="#dcdada"></circle>
  </svg>
</app-card>

