<div class="note-creator" [ngStyle]="{'background-color': color}">
  <i *ngIf="extraVisible" (click)="toggleExtra(false)" class="fa fa-chevron-up" aria-hidden="true"></i>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <label *ngIf="extraVisible">
      <input [(ngModel)]="titleModel" [formControl]="title" type="text" class="form-control" appGhostInput>
      <span>Title</span>
    </label>

    <label>
      <input (focus)="toggleExtra(true)" [formControl]="content" type="text" class="form-control" appGhostInput>
      <span>Input contents</span>
    </label>

    <div *ngIf="extraVisible">
      <i class="fa fa-eyedropper" aria-hidden="true" (click)="togglePicker()"></i>
      <app-color-picker tabindex="-1" (blur)="pickerVisible=false" *ngIf="pickerVisible" (picked)="onPicked($event)"></app-color-picker>

      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
      <span *ngIf="title.touched && title.hasError('required')">title required</span>
      <span *ngIf="content.touched && content.hasError('required')">content required</span>
    </div>
  </form>
</div>
