<div class="app-border app-hover row">
  <div class="col-md-8 col-sm-8 col-xs-8">
    <h4>Steps</h4>
    <div>
      <canvas width="400" height="200" style="border:1px solid"></canvas>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <div class="btn-group">
      <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" id="dropdownMenuButton">Type</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"><i class="fa fa-male"></i></a>
        <a class="dropdown-item" href="#"><i class="fa fa-location-arrow"></i></a>
        <a class="dropdown-item" href="#"><i class="fa fa-leaf"></i></a>
        <a class="dropdown-item" href="#"><i class="fa fa-bolt"></i></a>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" id="dropdownMenuButton">Time</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Daily</a>
        <a class="dropdown-item" href="#">7 days</a>
        <a class="dropdown-item" href="#">28 Days</a>
      </div>
    </div>
  </div>
</div>
