.palette {
  border: solid 1px lightgrey;
  border-radius: 3px;
  position: absolute;
  background-color: #fff;
  z-index: 100;
  font-size: 0; // fix inline-block between-space issue
}

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px lightgrey;
  margin: 0 0 5px 5px;
  cursor: pointer;
} // todo fix choosing circle bug

.fa {
  cursor: pointer;
}

.picker-container {
  display: inline-block;
}

.add-top-margin {
  margin-top: 5px;
}

.add-right-margin {
  margin-right: 5px;
}

.set-original-border div{
  border-color: lightgrey;
}

.picking {
  border-color: aqua;
}
