<div class="app-border rotate-container text-center" (mouseenter)="triggerToolBox()" (mouseleave)="triggerToolBox()">
  <div class="flipper">
    <ng-content></ng-content>
  </div>

  <!--tools under each card-->
  <div class="row toolbox text-center no-gutters" [@toolVisibility]="showTools">
    <div class="col col-sm-2" (click)="flip()">
      <i class="fa fa-cog"></i>
    </div>
    <div class="col col-sm pink" (click)="showQuickView()">
      <i class="fa fa-search-plus" aria-hidden="true"></i>
      <span class="hidden-sm-down"> Quick View</span>
    </div>
    <div class="col col-sm-5" [routerLink]="[routeTo]">
      <span class="hidden-sm-down">See More </span>&gt;
    </div>
  </div>
</div>

<p-dialog header="Quick View" [(visible)]="quickView" [resizable]="false" [responsive]="true" [modal]="true">
  <ng-content select="[card-modal]"></ng-content>
  <footer class="text-center">
    <button class="btn btn-outline-primary" (click)="quickView=false">Back</button>
  </footer>
</p-dialog>
