<div class="app-border rotate-container text-center" (mouseenter)="triggerToolBox()" (mouseleave)="triggerToolBox()">
  <div class="flipper">
    <ng-content></ng-content>
  </div>

  <!--tools under each card-->
  <div class="row toolbox text-center" *ngIf="showTools">
    <div class="col-2" (click)="flip()">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </div>
    <div class="col pink" (click)="showQuickView()">
      <i class="fa fa-search-plus" aria-hidden="true"></i> Quick View
    </div>
    <div class="col-5" [routerLink]="[routeTo]">
      See More &gt;
    </div>
  </div>
</div>

<p-dialog header="Quick View" [(visible)]="quickView" [resizable]="false" [responsive]="true" [modal]="true">
  <ng-content select="[card-modal]"></ng-content>
  <footer class="text-center">
    <button class="btn btn-outline-primary" (click)="quickView=false">Back</button>
  </footer>
</p-dialog>
