<div class="container">
  <div class="row">
    <div class="col-xs col-sm col-md">
      <i class="fa fa-th" aria-hidden="true"></i>
    </div>
    <div class="col-xs col-sm col-md">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <p-calendar [(ngModel)]="calendar" showTime="showTime"></p-calendar>
    </div>
  </div>
  <div class="row">
    <div class="col-xs col-sm col-md">
      <app-steps></app-steps>
    </div>
  </div>
  <div class="row">
    <div class="col-xs col-sm col-md">
      <app-badge></app-badge>
    </div>
    <div class="col-xs col-sm col-md">
      <app-calories></app-calories>
    </div>
    <div class="col-xs col-sm col-md">
      <app-exercise></app-exercise>
    </div>
  </div>
  <div class="row">
    <div class="col-xs col-sm col-md">
      <app-food></app-food>
    </div>
    <div class="col-xs col-sm col-md">
      <app-sleep></app-sleep>
    </div>
    <div class="col-xs col-sm col-md">
      <app-weight></app-weight>
    </div>
  </div>
  <div class="row">
    <div class="col-xs col-sm col-md">
      <app-water></app-water>
    </div>
    <div class="col-xs col-sm col-md"></div>
    <div class="col-xs col-sm col-md"></div>
  </div>
</div>
