.note-card {
  padding: 10px;
  margin: 20px;
  border-radius: 2px;
  width: 100%;
  position: relative;

  &:hover {
    box-shadow:  1px 1px 2px grey;
  }
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.check-icon {
  font-size: 2rem;
  color: white;
  position: absolute;
  left: -13px;
  top: -22px;
}
