/* You can add global styles to this file, and also import other style files */
.app-img {
  display: block;
  margin: auto;
  width :20%
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}
// every elem but font-awesome because it can't encode maven pro
:not(i) {
  font-family: 'Maven Pro', sans-serif!important;
}

// flip card part---------------
.front, .back {
  backface-visibility: hidden;
}
.back {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(180deg);
}

// ghost input-------------------------------
.ghost-input {
  padding-left: 5px;
  +span {
    position: absolute;
    bottom: 7px;
    left: 5px;
    color: #737373;
    cursor: text;
    transition: all 0.5s;
  }
  &:focus+span {
    font-size: 0.7rem;
    bottom: 24px;
    color: deepskyblue;
  }
}
.stay-top+span {
  font-size: 0.7rem;
  bottom: 24px;
  color: deepskyblue;
}

